
/* Header, content and footer formatting */
.header {
    padding: 10px;
    text-align: center;
    background-color: rgb(174,233,215);
}

.content {
    padding: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: 
    url("/public/images/bg.png");
}

.footer {
    padding: 10px;
    text-align: center;
    background-color: rgb(174,233,215);
    background-repeat: repeat;
}

h1.header {
    font-family: 'Laila', serif;
}

body {
    background-color: rgb(255, 255, 255);
}