
/* Header, content and footer formatting */
.header {
    background-color: #ccf3fd;
    
}

.content {
    padding: 20px;
    background-color: rgb(245, 244, 241);
}

.footer {
    padding: 10px;
    text-align: center;
    background-color: #ccf3fd;
}

h1.head {
    padding: 0px;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 35px;
    color: black;
    text-align: left;
    margin: 0px;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2.head {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 17px;
    text-decoration: naone;
    color: black;
    background: transparent;
    margin-top: 0px;
    text-align: left;
}

h1.content {
    padding: 0px;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 30px;
    color: black;
    text-align: left;
    margin: 0px;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.portrait {
    padding: 0px;
    border-radius: 100%;
    border-style: double;
    border-width: 5px;
    border-color: grey;
}

body {
    background-color: #ccf3fd;
    margin: 0px
}
.parent {
    display: flex;
    background-color: transparent;
    flex-flow: row wrap;
    width: 100%;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
  }

.parent > div {
  background-color: transparent;
  /* margin: 10px; */
  padding: 10px;
  font-size: 30px;
  width: 40%;
  text-align: center;
}

.menu {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 17px;
    color: black;
    margin: 0px;
    /* padding-top: 15px; */
    text-decoration: none;
}

p.content {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 17px;
    color: black;
    margin: 0px;
    text-decoration: none;
    text-align: center;
}
p.footer{
    text-align: center;
    font-family: 'Josefin Slab',serif;
    font-weight: 200;
    font-size: 12px;
}
