/* Adjusts page to fit screensize */
@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

@media screen and (min-width: 1101px) {
    /* CSS for screens that are 1001 pixels or more will be put in this section */

    .parent {
        display: flex;
        background-color: transparent;
        flex-flow: row wrap;
        width: 90%;
        align-content: center;
        align-items: flex-start;
        justify-content: center;
        justify-items: center;
        margin-right: auto;
        margin-left: auto;
      }
    
    .parent > div {
      background-color: transparent;
      /* margin: 10px; */
      padding: 10px;
      font-size: 30px;
      width: 40%;
      text-align: center;
    
    }

}

@media screen and (max-width:1100px) {
    /* CSS for screens that are 1000 pixels or less will be put in this section */

    .parent {
        display: flex;
        background-color: transparent;
        flex-flow: row wrap;
        flex-wrap: wrap;
        width: 100%;
        align-content: center;
        align-items: flex-start;
        justify-content: center;
        justify-items: center;
        margin-right: auto;
        margin-left: auto;
      }
    
    .parent > div {
      background-color: transparent;
      /* margin: 10px; */
      padding: 10px;
      font-size: 30px;
      width: 75%;
      text-align: center;
    
    }
}

/* Header, content and footer formatting */
.header {
    background-color: #ccf3fd;
}

.content {
    padding: 20px;
    background-color: rgb(245, 244, 241);
}

.footer {
    padding: 10px;
    text-align: center;
    background-color: #ccf3fd;
}

h1.head {
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: darkslategray;
    text-align: left;
    margin: 0px;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2.head {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-decoration: naone;
    color: darkslategray;
    background: transparent;
    margin-top: 0px;
    text-align: left;
}

h1.content {
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: darkslategray;
    text-align: left;
    margin: 0px;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

h2.content {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-decoration: naone;
    color: darkslategray;
    background: transparent;
    margin: 0px;
    padding-bottom: 5px;
    text-align: center;
}

h3.content {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: darkslategray;
    margin: 0px;
    text-decoration: none;
    text-align: left;
}

p.content, ul.content {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 17.5px;
    color: darkslategray;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    padding: 3px;
    list-style-type: none;
}

p.content-bold {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 17.5px;
    color: darkslategray;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}


.portrait {
    padding: 0px;
    border-radius: 100%;
    border-style: double;
    border-width: 5px;
    border-color: grey;
}

body {
    background-color: #ccf3fd;
    margin: 0px
}

.menu, .about {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: darkslategray;
    margin: 0px;
    margin-left: 10px;
    /* padding-top: 15px; */
    text-decoration: none;
}

.menu_2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: darkslategray;
    margin: 0px;
    margin-left: 10px;
    /* padding-top: 15px; */
    text-decoration: underline;
}

.menu:hover, .about:hover{
    font-weight: 400;
    color: darkslategray;
    text-decoration: underline;
}


p.footer{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 12px;
}
.mainButton {
    background-color: #ccf3fd; 
    font-weight: 300;
    border-radius: 5px; 
    font-size: 17px;
    color: darkslategray; 
    padding: 10px;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    border: none;
    margin-top: 10px;
}
.mainButton:hover {
    background-color: #B1EDFC; 

}

.social:hover {
    opacity: 0.7;
}

.nav-item {
    margin-top: 2px;
    margin-bottom: 2px;
}

#quals, #employment, #volunteer, #interests {
    display:none
}

.img {
    margin-top: 5px;
}

.bar {
    display: block;
    width: 100%;
    height: 1px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: darkslategray;
}